.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: var(--horizontal-space);
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-right: var(--horizontal-space);
}

.screen-header__notification {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 25px;
}
